*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}

 .container {
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lightgray;
        }

        .box {
            width: 150px;
            height: 100px;
            background-color: tomato;
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;
        }