*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
a{
    text-decoration: none;
}

div{
    background-color: aquamarine;
    color: black;
    text-align: center;


}
.com{
    background-color: blue;
    color: black;
    text-align: center;
}
#home{
    background-color: darkorange;
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

